@model HealthyCalorie.Food.CrossCutting.Dtos.FoodDto

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h2>Details for Food Item</h2>
    </div>
    <div class="card-body">
        <h4>FdcId: @Model.FdcId</h4>
        <p>DataType: @Model.DataType</p>
        <p>Description: @Model.Description</p>

        <h4>Food Category</h4>
        <p>@Model.FoodCategoryDescription</p>

        <h4>Nutrients</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nutrient Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nutrient in Model.FoodNutrients)
                {
                    <tr>
                        <td>@nutrient.NutrientName</td>
                        <td>@nutrient.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>